<% provide(:title, "About") %>
<h1>About</h1>
<p align="justify">
RuangLoka merupakan usaha yang bergerak dalam bidang penyediaan furniture. 
Melalui RuangLoka kami berkomitmen untuk menjadi rekan dari  pelanggan kami 
serta seluruh elemen industri furniture.
<br/><br/>
Visi besar kami adalah menjadi rekan yang akan anda hubungi apabila anda 
membutuhkan bantuan untuk kebutuhan furniture anda. Karena kami percaya, 
untuk mendapatkan suatu produk yang bernilai anda tidak perlu repot - repot 
melewati halangan apapun. Atas dasar hal tersebut lah RuangLoka hadir untuk 
mempermudah anda menemukan produk yang sesuai. 
<br/><br/>
Sebagai rekan anda, kami sangat percaya bahwa seharusnya bukan anda yang 
menyesuaikan diri terhadap barang yang anda miliki. Namun barang anda lah 
yang seharusnya sesuai dan bekerja untuk anda.
</p>
