<div class="center jumbotron">
  <h1>Welcome to RuangLoka</h1>

  <h2>
    This is the home page of
    <a href="https://ruangloka.herokuapp.com/">RuangLoka</a>
    website.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("RuangLoka.png", alt: "RuangLoka logo"),
            'https://ruangloka.herokuapp.com/' %>
